img {
	border: 0px;
	margin: 0px;
}
img.chart {
	width: auto;
	max-width: 100%;
	height: auto;
}
figcaption {
	padding: 15px 0px 15px 5px;
	font-style: italic;
}
.frame {
	border: 1px solid black;
	background: #f1e6c6;

	padding: 15px 15px;
}
body {
	background: #fdfff5;
}

header {
	text-align: center;
	padding: 15px 0px;
	margin-bottom: 15px;
}

.navigation {
	display: flex;
	justify-content: center;
}

.nav-item {
	list-style-type: none;
	margin-right: 20px;
}
.nav-item:last-child {
	margin-right: 0;
}

footer {
	font-size: 0.8em;
	text-align: center;
	padding: 15px 0px;
	margin-bottom: 15px;
	max-width: 95%;
}
