---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const reviews = await getCollection("reviews");
const reviewData = reviews.map((review) => review.data);
// sort by date descending
reviewData.sort((a, b) => new Date(b.timestamp).getTime() - new Date(a.timestamp).getTime());
---

<Layout
	title="TV and Movie Reviews 📺"
	url="/watched/"
	description="Keeping track of the TV shows and movies I've watched."
>
	<main class="container">
		<p>Keeping track of the TV shows 📺 and movies 🎦 I've watched.</p>

		<table>
			<thead>
				<tr>
					<th>Type</th>
					<th>Name</th>
					<th>Rating</th>
					<th>Watched</th>
				</tr>
			</thead>

			<tbody>
				{
					reviewData
						.filter((review) => review.finished == "Yes")
						.map((review) => (
							<tr>
								<td>{review.showType === "Movie" ? "🎦" : "📺"}</td>
								<td>{review.showName}</td>
								<td>{review.rating}</td>
								<td>{new Date(review.timestamp).getFullYear()}</td>
							</tr>
						))
				}
			</tbody>
		</table>
	</main>
</Layout>

<style>
	table thead th {
		position: sticky;
		top: 0;
		background-color: #fdfff5;
		z-index: 1;
	}
</style>
