---
const currentYear = new Date().getFullYear();
---

<footer>
	<p><em>© 2002-{currentYear} MichaelAllenSmith.com.</em></p>
	<p>
		<em>
			Privacy Policy: This site does not track users or display ads. No pop-up windows either.
		</em>
	</p>
	<p>
		<em>
			The code for this site is freely available on
			<a href="https://github.com/digitalcolony/michaelallensmith.com">GitHub</a>. Use however you
			like.</em
		>
	</p>
</footer>
