---
export interface Props {
	url: string;
	title: string;
}

const { url, title } = Astro.props;
let currentPage;
switch (url) {
	case "/":
		currentPage = "home";
		break;
	case "/watched/":
		currentPage = "watched";
		break;
	default:
		currentPage = "home";
		break;
}
---

<header>
	<h2>{title}</h2>
	<div class="navigation">
		<li class="nav-item">{currentPage === "home" ? <span>Home</span> : <a href="/">Home</a>}</li>
		<li class="nav-item">
			{
				currentPage === "watched" ? (
					<span>TV and Movies</span>
				) : (
					<a href="/watched/">TV and Movies</a>
				)
			}
		</li>
	</div>
</header>
